.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent;

    transition: 0.5s;
}

.header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;

    transition: 0.5s;
    padding: 40px 0;

}

.header_wrap a {
    color: #fff;
}

.header.on {
    background: #fff;
}

.header.on .header_wrap {
    height: 80px;
    padding: 16px 0;
}

.header h1 {
    transition: 0.5s;
}

.header.on h1 {
    top: -30px;
    transform: translate(-50%, 0) scale(25%);
}

.header.on a {
    color: #000;
}

.header.on .sub_wrapper a {
    color: #fff;

}

.header_wrap h1 {
    position: absolute;
    transform: translate(-50%, 0) scale(33%);
    top: 0;
    left: 50%;

}

.header_wrap h1 a {}


.header_wrap .left_gnb {
    position: relative;
    margin: 0 auto 0 0;

    font-size: 24px;
    font-weight: 700;

}

.header_wrap .left_gnb>ul>li~li::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 53px;
    width: 1px;
    height: 18px;

    background: #bebebe;
    transform: translate(-50%, -50%);
}

.header_wrap .left_gnb>ul {
    display: flex;
    gap: 0 40px;
    padding: 10px 0 10px 0;
}

.header_wrap .left_gnb>ul>li {
    position: relative;
    padding: 0 0 60px 0;

}

.header_wrap .left_gnb>ul>li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: -10%;
    bottom: 57px;
    background: #fff;

    transition: 0.3s;
}

.header.on .left_gnb>ul>li::after {
    background: #000;
}

.header_wrap .left_gnb>ul>li:hover::after {
    width: 120%;
}

.header_wrap .left_gnb>ul>li .sub {
    position: absolute;
    width: 540px;
    height: 340px;
    top: 54px;
    background: #FECE00;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
}






.header_wrap .left_gnb>ul>li:hover .sub {
    opacity: 1;
    visibility: visible;
}

.sub {}



.sub_wrapper {
    position: relative;
    display: flex;
    gap: 30px;

}

.sub_wrapper a {
    color: #fff;

}

.sub_wrapper ul>li>a {
    color: #000;
}




.sub_wrapper .left {
    position: relative;


    overflow: hidden;
}




.sub_wrapper img {

    width: 340px;
    height: 340px;
    object-fit: cover;

    transition: 0.5s;

}


.sub_wrapper img:hover {
    transform: scale(120%);


}

.sub_wrapper .left .txt {
    position: absolute;
    bottom: 0;
    padding: 0 0 40px 0;
    left: 0;
    text-align: center;

    z-index: 999;
}

.sub_wrapper .left .txt::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    opacity: 0;
    transition: 0.5s;
}

.sub_wrapper .left:hover .txt::before {
    opacity: 1;
}

.sub_wrapper .left .txt strong {
    display: block;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    margin: 0 0 16px 0;

}

.sub_wrapper .left .txt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    color: #fff;
}

.sub_wrapper>ul {
    padding: 40px 0 0 0;
}

.sub_wrapper>ul>li {
    padding: 0 0 20px 0;
    font-size: 20px;
}

.sub_wrapper>ul>li a {
    position: relative;
}

.sub_wrapper>ul>li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0px;
    background: #000;

    transition: 0.5s;
}

.sub_wrapper>ul>li a:hover::after {
    width: 100%;
}

.sub_wrapper>ul>li a {
    color: #000;

}


.header.on .sub_wrapper>ul>li a {
    color: #000
}



.header_wrap .right_gnb {
    position: relative;
    margin: 0 0 0 auto;


    font-size: 24px;
    font-weight: 700;
}

.header_wrap .right_gnb>ul>li~li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    width: 1px;
    height: 18px;

    background: #bebebe;
    transform: translate(-50%, -50%);
}


.header_wrap .right_gnb>ul {
    display: flex;
    gap: 0 40px;
    padding: 10px 0 10px 0;
}

.header_wrap .right_gnb>ul>li {
    position: relative;
}

.header_wrap .right_gnb>ul>li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: -10%;
    bottom: -3px;
    background: #fff;

    transition: 0.5s;
}

.header.on .right_gnb>ul>li::after {
    background: #000;
}

.header_wrap .right_gnb>ul>li:hover::after {
    width: 120%;
}




.main_wrap {
    background: url(../images/Background.jpg);
    height: 100vh;
}

.main_type {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50vh 0;
    color: #fff;
}

.main_type h2 {
    font-size: 32px;
    font-weight: 700;

    line-height: 40px;
}

.main_type strong {
    display: flex;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
}

.main_type strong span {
    color: #FECE00;
    padding: 0 0 0 16px
}

.main_type span {
    display: block;
}

.main_type span a {
    border-bottom: 1px solid #fff;
}

.png_slide {
    padding: 80px 0;
}

.png_slide .title {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;

    padding: 0 0 80px 0;
}

.png_slide .title h2 {
    font-size: 48px;
    font-weight: 700;
}

.png_slide .title span {
    font-size: 18px;
    font-weight: 500;
}

.png_slide .title span a {
    border-bottom: 2px solid #000;
}

.png_slide .main_slide {
    max-width: 1500px;
    margin: 0 auto;
    background: url(../images/slideBG.jpg) center center;
    object-fit: cover;
}

.png_slide .main_slide .slick-arrow {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    z-index: 999;
    /* transform: translate(0, -50%); */
    border: none;
    background: transparent;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-top: 4px solid rgba(255, 255, 255, 1);
    border-left: 4px solid rgba(255, 255, 255, 1);
}

.png_slide .main_slide .slick-prev {
    left: 80px;
    transform: translate(0, -50%) rotate(-40deg);
    cursor: pointer;
}

.png_slide .main_slide .slick-next {
    right: 80px;
    transform: translate(0, -50%) rotate(135deg);
    cursor: pointer;
}

.png_slide .main_slide .itm {
    position: relative;
    height: 100vh;
    min-height: 600px;

}

.png_slide .main_slide .itm .slogan {
    display: block;
    color: #fff;
    padding: 300px 277px;

}

.png_slide .main_slide .itm .slogan span {
    font-size: 14px;
    font-weight: 200;
    padding: 6px 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.png_slide .main_slide .itm .slogan strong {
    display: block;
    font-size: 48px;
    font-weight: 600;
    padding: 28px 0 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.png_slide .main_slide .itm .slogan em {
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 0 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.png_slide .main_slide .itm .slogan p {
    padding: 40px 0 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.png_slide .main_slide .itm .slogan p a {
    border-bottom: 1px solid #fff;
}

.png_slide .main_slide .itm01 {
    background: url(../images/slide01.png);
}

.png_slide .main_slide .itm02 {
    background: url(../images/slide02.png);
}

.png_slide .main_slide .itm03 {
    background: url(../images/slide03.png);
}

.png_slide .main_slide .itm04 {
    background: url(../images/slide04.png);
}

.png_slide .main_slide .itm05 {
    background: url(../images/slide05.png);
}

.pizza_menu {
    padding: 80px 0;
}

.pizza_wrap {
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.pizza_wrap .left {
    max-width: 550px;
    width: auto;
    height: auto;


}


.pizza_wrap .right {
    max-width: 550px;
    padding: 100px 0;
}

.pizza_wrap .right h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #FECE00;

    padding: 0 0 16px 0;
}

.pizza_wrap .right p {
    max-width: 330px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;


    padding: 0 0 24px 0;
}

.pizza_wrap .right span {}

.pizza_wrap .right span a {
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.pizza_slide {
    padding: 80px 0;
}

.pizza_slide .food_slide {
    position: relative;
}



.pizza_slide .mark01 {
    position: absolute;
    top: 40px;
    left: 40px;


    width: 50px;
    height: 50px;

    background: #FFE555;
    border-radius: 50%;


    z-index: 999;

}

.pizza_slide .mark01 span {
    position: absolute;
    top: 18px;
    left: 13px;

    font-size: 14px;

    font-weight: 900;

    color: #000;
}

.pizza_slide .mark02 {
    position: absolute;
    top: 40px;
    left: 40px;


    width: 50px;
    height: 50px;

    background: #FF7200;
    border-radius: 50%;


    z-index: 999;

}

.pizza_slide .mark02 span {
    position: absolute;
    top: 18px;
    left: 9px;

    font-size: 14px;

    font-weight: 600;

    color: #fff;
}

.pizza_slide .pizza_name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.pizza_slide .pizza_name strong {
    font-size: 24px;
    font-weight: 700;
}

.pizza_slide .slick-dots {
    position: absolute;

    bottom: 20px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

.pizza_slide .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border: 2px solid #fff;

    border-radius: 50%;
    background: #d1d1d1;
    cursor: pointer;
}

.pizza_slide .slick-dots li.slick-active {
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    background: #fff;
}

.pizza_slide .slick-dots li button {
    display: none;
}

.footer {
    display: flex;
    margin: 0 auto;

    justify-content: center;
}

.footer span {
    font-size: 24px;
    font-weight: 600;

}

.customer {
    position: relative;
    display: flex;
    max-width: 1200px;
    width: 50%;
    margin-right: 0;
    padding: 60px 0 60px 340px;
    background: #e2e2e2;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.customer .left {
    padding: 0 20px;
}



.customer .left>* {
    display: block;
}

.customer .left strong {
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0 0 0;
}

.customer .left p {
    font-size: 14px;
    padding: 40px 0 0 0;
}

.customer .right {}

.customer .right>* {
    display: block;
}

.customer .right strong {
    font-size: 24px;
    margin: 28px 0 0 0;
}

.customer .right p {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;

    font-weight: 500;
    margin: 46px 0 0 0;

}

.customer .right p::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #000;


    transition: 0.5s;
}

.customer .right p:hover::before {
    width: 0;
}

.company {
    position: relative;
    display: flex;

    max-width: 1200px;
    width: 50%;
    padding: 60px 0;
    background: #e2e2e2;
    border-bottom: 1px solid #fff;
}

.company .left {
    padding: 0 20px;
}

.company .left>p {
    display: inline-block;
    padding: 20px 0 0 0;
    line-height: 24px;

    white-space: nowrap;
}

.company .left strong {
    position: relative;
    display: inline-block;


    padding: 28px 0 0 0;

    font-weight: 500;


}

.company .left strong a::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #000;


    transition: 0.5s;
}

.company .left strong a:hover::before {
    width: 0;
}

.company .right {}

.company .right>* {
    display: inline-block;
    white-space: nowrap;
}

.company .right span {
    display: block;

    padding: 0 0 20px 0;
}


.company .right p {
    line-height: 24px;
}

.company .right strong {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.company .right em {
    padding: 20px 0 0 0;
}